In [1]:
import pandas as pd
import numpy as np

In [2]:
demand = pd.read_excel('data\demand.xlsx')
location = pd.read_excel('data\location_info.xlsx')
cluster_hub = pd.read_csv('data\cluster_hub.csv')

In [3]:
cluster_1 = [112, 113, 114, 115, 116, 117, 118, 119, 120, 121, 122, 123, 124, 125, 126, 127, 128, 129, 130, 131, 132, 133, 134, 135, 136, 137, 138, 139, 140, 141, 142, 143, 144, 145, 225, 279, 284, 344, 396, 397, 398, 400, 401, 402, 406, 412, 413, 416, 417, 419, 530, 531, 532, 533, 534, 535, 536, 537, 538, 539, 540, 541, 542, 543, 544, 545, 546, 547, 548, 549, 550, 551, 552, 553, 554, 555, 556, 557, 558, 559, 560, 561, 562, 563, 564, 565, 566, 567, 568, 569, 570, 571, 572, 573, 574, 575, 576, 577, 578, 579, 580, 581, 582, 583, 584, 585, 600, 605, 855, 856, 987, 1084, 1105, 1106, 1107, 1108, 1109, 1110, 1111, 1112, 1113, 1114, 1115, 1116, 1117, 1118, 1119, 1120, 1121, 1122, 1123, 1124, 1125, 1126, 1127, 1128, 1129, 1298, 1329, 1338, 1546, 1556, 1612, 1623, 1624, 1625, 1757, 1819, 1820, 1821, 1822, 1823, 1824, 1825, 1826, 1827, 1828, 1829, 1830, 1831, 1832, 1833, 1834, 1835, 1836, 1837, 1838, 1839, 1840, 1841, 1842, 1843, 1844, 1845, 1846, 1847, 1848, 1849, 1850, 1851, 1852, 1853, 1854, 1855, 1856, 1857, 1858, 1859, 1860, 1861, 1862, 1863, 1864, 1865, 1866, 1867, 1868, 1869, 1870, 1871, 1872, 1873, 1874, 1875, 1876, 1877, 1878, 1879, 1880, 1881, 1882, 1883, 1884, 1885, 1886, 1887, 1888, 1889, 1890, 1891, 1892, 1893, 1894, 1895, 1896, 1897, 1925, 1926, 1972, 2000, 2003]
cluster_2 = [158, 164, 165, 190, 191, 312, 488, 489, 632, 636, 683, 684, 685, 686, 687, 688, 689, 690, 691, 692, 693, 694, 695, 696, 697, 698, 699, 700, 701, 702, 703, 704, 705, 706, 707, 708, 709, 710, 711, 712, 713, 714, 715, 716, 717, 718, 719, 806, 811, 812, 813, 814, 815, 816, 817, 818, 819, 820, 821, 823, 824, 825, 826, 827, 828, 830, 831, 832, 841, 842, 844, 845, 1024, 1026, 1232, 1236, 1433, 1538, 1539, 1549, 1553, 1576, 1583, 1584, 1585, 1587, 1588, 1589, 1590, 1636, 1637, 1638, 1684, 1685, 1688, 1741, 1755, 1777, 1898, 1941, 1960, 1968, 1989]
cluster_3 = [147, 148, 172, 173, 180, 181, 345, 346, 347, 348, 349, 350, 351, 352, 353, 354, 355, 356, 357, 680, 734, 735, 736, 737, 738, 739, 741, 747, 857, 858, 861, 862, 917, 918, 919, 920, 923, 924, 925, 928, 930, 931, 932, 937, 938, 943, 944, 945, 952, 1153, 1161, 1162, 1163, 1256, 1366, 1367, 1368, 1369, 1370, 1371, 1372, 1373, 1374, 1377, 1379, 1382, 1545, 1551, 1575, 1633, 1722, 1723, 1724, 1729, 1730, 1731, 1732, 1734, 1742, 1743, 1744, 1750, 1767, 1768, 1773, 1774, 1924, 1942, 2012, 2013]
cluster_4 = [109, 149, 150, 151, 152, 207, 318, 595, 596, 597, 598, 607, 608, 609, 610, 839, 840, 849, 850, 851, 872, 873, 874, 875, 876, 877, 878, 879, 880, 881, 882, 883, 976, 977, 1104, 1150, 1164, 1165, 1166, 1167, 1168, 1169, 1170, 1171, 1173, 1174, 1175, 1176, 1177, 1178, 1251, 1252, 1276, 1547, 1548, 1558, 1559, 1566, 1567, 1578, 1591, 1669, 1677, 1678, 1687, 1775, 1899, 1900, 1901, 1902, 1903, 1904, 1905, 1906, 1907, 1908, 1913, 1920, 1981, 1983, 1984, 1988, 1996, 2017, 2018]
cluster_5 = [182, 183, 194, 195, 196, 197, 198, 316, 434, 435, 436, 437, 438, 439, 442, 443, 444, 445, 446, 447, 449, 450, 451, 452, 471, 479, 587, 588, 589, 590, 591, 720, 836, 1185, 1230, 1231, 1233, 1234, 1235, 1237, 1238, 1239, 1240, 1241, 1242, 1330, 1496, 1497, 1498, 1499, 1500, 1502, 1503, 1506, 1507, 1508, 1579, 1799, 1800, 1801, 1810, 1961, 1962, 1963, 1964, 1965]
cluster_6 = [87, 88, 166, 192, 204, 205, 208, 209, 210, 211, 212, 213, 214, 215, 216, 217, 226, 278, 313, 358, 359, 360, 361, 362, 363, 364, 365, 366, 367, 368, 369, 370, 371, 372, 373, 374, 375, 376, 377, 409, 410, 411, 418, 420, 421, 422, 423, 424, 425, 427, 428, 429, 430, 528, 586, 593, 679, 756, 757, 758, 759, 760, 761, 762, 763, 764, 765, 766, 767, 768, 769, 770, 771, 772, 773, 774, 775, 776, 777, 778, 779, 780, 781, 870, 1050, 1051, 1052, 1053, 1054, 1055, 1056, 1083, 1155, 1156, 1179, 1243, 1410, 1411, 1412, 1413, 1414, 1415, 1416, 1417, 1418, 1419, 1420, 1421, 1422, 1423, 1554, 1555, 1562, 1673, 1674, 1675, 1676, 1692, 1694, 1695, 1696, 1705, 1710, 1711, 1712, 1715, 1716, 1735, 1771, 1927, 1928, 1937, 1938, 1939]
cluster_7 = [286, 287, 288, 289, 290, 291, 292, 293, 294, 295, 296, 297, 298, 613, 614, 631, 678, 905, 906, 907, 908, 909, 910, 911, 912, 913, 914, 915, 916, 1029, 1030, 1187, 1188, 1190, 1192, 1284, 1285, 1286, 1287, 1288, 1289, 1290, 1291, 1292, 1293, 1294, 1295, 1325, 1336, 1573, 1593, 1646, 1647, 1668, 1725, 1736, 1803, 1995]
cluster_8 = [171, 174, 175, 176, 177, 185, 187, 250, 251, 252, 253, 299, 300, 310, 311, 319, 637, 638, 794, 795, 796, 797, 798, 801, 802, 803, 804, 1022, 1023, 1028, 1031, 1038, 1039, 1040, 1057, 1058, 1059, 1060, 1061, 1062, 1063, 1064, 1065, 1066, 1067, 1068, 1069, 1070, 1071, 1072, 1073, 1074, 1075, 1076, 1077, 1078, 1079, 1080, 1261, 1263, 1264, 1265, 1266, 1267, 1268, 1269, 1272, 1274, 1752, 1753, 1754, 1769, 1770, 1943, 1944, 1945, 1946, 1970, 1971]
cluster_9 = [81, 82, 83, 101, 106, 220, 221, 283, 630, 753, 754, 921, 922, 926, 927, 929, 978, 979, 1087, 1088, 1089, 1090, 1091, 1092, 1093, 1094, 1095, 1096, 1097, 1098, 1099, 1100, 1101, 1102, 1103, 1132, 1133, 1134, 1135, 1136, 1137, 1138, 1139, 1140, 1141, 1142, 1143, 1144, 1145, 1146, 1147, 1257, 1280, 1281, 1282, 1296, 1297, 1334, 1375, 1376, 1378, 1380, 1381, 1594, 1595, 1634, 1635, 1648, 1679, 1740, 1808, 1809, 1949, 1967, 2008, 2009, 2010, 2011]
cluster_10 = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 48, 80, 206, 454, 455, 456, 457, 458, 459, 460, 461, 462, 463, 464, 465, 466, 467, 468, 469, 470, 472, 473, 474, 475, 476, 477, 478, 480, 606, 658, 669, 670, 956, 957, 958, 959, 967, 974, 1191, 1299, 1300, 1301, 1302, 1303, 1304, 1305, 1306, 1307, 1308, 1309, 1310, 1311, 1312, 1313, 1314, 1315, 1316, 1317, 1318, 1319, 1320, 1321, 1322, 1323, 1324, 1563, 1564, 1581, 1689, 1691, 1749, 1814, 1815, 1912, 1929, 1930, 1931, 1932]
cluster_11 = [102, 103, 104, 105, 218, 302, 592, 799, 800, 805, 852, 853, 854, 866, 867, 884, 885, 886, 887, 888, 889, 890, 891, 892, 893, 894, 895, 896, 897, 898, 899, 900, 901, 902, 903, 904, 1081, 1082, 1159, 1160, 1354, 1355, 1356, 1357, 1358, 1360, 1361, 1362, 1363, 1364, 1365, 1534, 1535, 1586, 1629, 1649, 1650, 1651, 1652, 1653, 1654, 1655, 1656, 1657, 1658, 1659, 1660, 1661, 1662, 1663, 1664, 1665, 1666, 1667, 1765, 1766]
cluster_12 = [107, 108, 189, 193, 199, 315, 481, 482, 483, 484, 485, 486, 487, 490, 491, 493, 494, 495, 615, 659, 1151, 1152, 1331, 1383, 1384, 1385, 1386, 1387, 1388, 1389, 1390, 1391, 1392, 1393, 1394, 1395, 1396, 1397, 1398, 1399, 1400, 1401, 1402, 1403, 1404, 1405, 1406, 1407, 1408, 1409, 1426, 1427, 1455, 1456, 1457, 1458, 1459, 1460, 1461, 1462, 1463, 1464, 1465, 1466, 1467, 1468, 1469, 1470, 1471, 1472, 1473, 1474, 1475, 1476, 1477, 1478, 1479, 1480, 1481, 1482, 1483, 1484, 1485, 1486, 1487, 1488, 1489, 1501, 1504, 1505, 1509, 1510, 1511, 1512, 1513, 1514, 1515, 1516, 1517, 1518, 1519, 1520, 1521, 1522, 1523, 1524, 1525, 1526, 1527, 1528, 1529, 1530, 1531, 1561, 1568, 1577, 1580, 1690, 1784, 1792]
cluster_13 = [146, 167, 184, 201, 202, 203, 276, 440, 441, 448, 639, 640, 641, 642, 643, 644, 645, 646, 647, 648, 649, 650, 651, 652, 653, 654, 655, 656, 657, 755, 868, 869, 933, 934, 935, 936, 1253, 1254, 1255, 1327, 1328, 1569, 1570, 1571, 1643, 1645, 1807, 1999]
cluster_14 = [84, 178, 179, 186, 219, 432, 433, 635, 664, 665, 666, 681, 682, 721, 722, 723, 724, 725, 726, 727, 728, 729, 730, 731, 732, 733, 740, 742, 743, 744, 745, 746, 748, 749, 750, 751, 752, 782, 783, 784, 785, 786, 787, 788, 789, 846, 939, 940, 941, 942, 946, 947, 948, 949, 950, 951, 953, 954, 955, 1027, 1032, 1034, 1035, 1036, 1037, 1041, 1157, 1158, 1189, 1258, 1259, 1260, 1262, 1270, 1271, 1273, 1275, 1278, 1279, 1333, 1335, 1337, 1339, 1681, 1682, 1947, 1948, 1950, 1951, 1952, 1953, 1954, 1955]
cluster_15 = [159, 160, 161, 162, 168, 169, 170, 230, 231, 232, 233, 234, 235, 236, 237, 238, 239, 240, 241, 242, 243, 244, 245, 246, 247, 248, 249, 254, 255, 256, 257, 258, 259, 260, 261, 262, 263, 264, 265, 266, 267, 268, 269, 270, 271, 272, 273, 274, 275, 280, 314, 453, 601, 602, 603, 604, 663, 807, 808, 809, 810, 822, 829, 837, 838, 871, 1025, 1550, 1572, 1596, 1644, 1670, 1671, 1672, 1686, 1693, 1726, 1745, 1746, 1751, 1756, 1816, 1916, 1917, 1918, 1919, 1933, 1934, 1935, 1936, 1940, 1985, 1986, 1987, 2004, 2005, 2006, 2007, 2014, 2015, 2016, 2019, 2020]
cluster_16 = [85, 86, 110, 153, 154, 155, 156, 157, 228, 229, 492, 497, 498, 499, 500, 501, 502, 503, 504, 505, 506, 507, 508, 509, 510, 511, 512, 513, 514, 515, 516, 517, 518, 519, 520, 521, 522, 523, 524, 525, 526, 527, 599, 633, 634, 660, 661, 662, 791, 792, 793, 843, 863, 864, 865, 1130, 1131, 1180, 1181, 1182, 1183, 1184, 1193, 1194, 1195, 1196, 1197, 1198, 1199, 1200, 1201, 1202, 1203, 1204, 1205, 1206, 1207, 1208, 1209, 1210, 1211, 1212, 1213, 1214, 1215, 1216, 1217, 1218, 1219, 1220, 1221, 1222, 1223, 1224, 1225, 1226, 1227, 1228, 1229, 1283, 1332, 1424, 1425, 1428, 1429, 1430, 1431, 1432, 1434, 1435, 1490, 1491, 1536, 1537, 1544, 1565, 1592, 1630, 1631, 1632, 1727, 1778, 1779, 1780, 1781, 1782, 1783, 1785, 1786, 1787, 1788, 1789, 1790, 1791, 1793, 1794, 1795, 1796, 1797, 1798, 1804, 1805, 1806, 1811, 1812, 1813, 1921, 1922, 1923, 1956, 1957, 1958, 1959, 1990, 1991, 1992, 1993, 1994, 1997, 1998]
cluster_17 = [26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 42, 46, 47, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 222, 223, 224, 281, 378, 379, 380, 381, 385, 389, 394, 594, 859, 860, 960, 961, 962, 963, 964, 965, 966, 968, 969, 970, 971, 972, 973, 975, 982, 983, 984, 985, 986, 988, 989, 990, 991, 992, 993, 994, 995, 996, 997, 998, 999, 1000, 1001, 1002, 1003, 1004, 1005, 1006, 1007, 1008, 1009, 1010, 1011, 1012, 1013, 1014, 1015, 1016, 1017, 1018, 1019, 1020, 1021, 1436, 1437, 1438, 1493, 1540, 1541, 1552, 1557, 1680, 1776, 1802, 1909, 1910, 1911, 1969, 2002]
cluster_18 = [111, 188, 320, 321, 322, 323, 324, 325, 326, 327, 328, 329, 330, 331, 332, 333, 334, 335, 336, 337, 338, 339, 340, 341, 342, 343, 496, 1086, 1149, 1154, 1172, 1186, 1244, 1245, 1246, 1247, 1248, 1249, 1250, 1277, 1326, 1359, 1439, 1440, 1441, 1442, 1443, 1444, 1445, 1446, 1447, 1448, 1449, 1450, 1451, 1452, 1453, 1454, 1733, 1758, 1759, 1760, 1761, 1762, 1763, 1764, 1966, 2001]
cluster_19 = [163, 277, 282, 285, 301, 317, 407, 408, 414, 415, 426, 431, 611, 612, 616, 617, 618, 619, 620, 621, 622, 623, 624, 625, 626, 627, 628, 629, 790, 833, 834, 835, 847, 848, 980, 981, 1033, 1042, 1043, 1044, 1045, 1046, 1047, 1048, 1049, 1085, 1148, 1492, 1494, 1495, 1532, 1533, 1542, 1543, 1582, 1597, 1598, 1599, 1600, 1601, 1602, 1603, 1604, 1605, 1606, 1607, 1608, 1609, 1610, 1611, 1613, 1614, 1615, 1616, 1617, 1618, 1619, 1620, 1621, 1622, 1626, 1627, 1628, 1697, 1698, 1699, 1700, 1701, 1702, 1703, 1704, 1706, 1707, 1708, 1709, 1713, 1714, 1717, 1718, 1719, 1720, 1721, 1728, 1737, 1738, 1772, 1914, 1915, 1980]
cluster_20 = [41, 43, 44, 45, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, 100, 200, 227, 303, 304, 305, 306, 307, 308, 309, 382, 383, 384, 386, 387, 388, 390, 391, 392, 393, 395, 399, 403, 404, 405, 529, 667, 668, 671, 672, 673, 674, 675, 676, 677, 1340, 1341, 1342, 1343, 1344, 1345, 1346, 1347, 1348, 1349, 1350, 1351, 1352, 1353, 1560, 1574, 1639, 1640, 1641, 1642, 1683, 1739, 1747, 1748, 1817, 1818, 1973, 1974, 1975, 1976, 1977, 1978, 1979, 1982]

In [4]:
location.drop(location.tail(1).index,inplace=True)

In [5]:
len(location)

2021

In [6]:
demand

     customer_code  demand
0           SF0001       6
1           SF0002     111
2           SF0003      37
3           SF0004      20
4           SF0005       9
...            ...     ...
2016        SF2017      69
2017        SF2018      63
2018        SF2019      51
2019        SF2020      63
2020        SF2021      82

[2021 rows x 2 columns]

In [7]:
df = pd.merge(demand, location, on='customer_code')

In [8]:
df = df.reset_index()

In [9]:
df['cluster'] = 0

In [10]:
for i in range(len(df)):
    if df['index'][i] in cluster_1:
        df['cluster'][i] = 1
    if df['index'][i] in cluster_2:
        df['cluster'][i] = 2
    if df['index'][i] in cluster_3:
        df['cluster'][i] = 3
    if df['index'][i] in cluster_4:
        df['cluster'][i] = 4
    if df['index'][i] in cluster_5:
        df['cluster'][i] = 5
    if df['index'][i] in cluster_6:
        df['cluster'][i] = 6
    if df['index'][i] in cluster_7:
        df['cluster'][i] = 7
    if df['index'][i] in cluster_8:
        df['cluster'][i] = 8
    if df['index'][i] in cluster_9:
        df['cluster'][i] = 9
    if df['index'][i] in cluster_10:
        df['cluster'][i] = 10
    if df['index'][i] in cluster_11:
        df['cluster'][i] = 11
    if df['index'][i] in cluster_12:
        df['cluster'][i] = 12
    if df['index'][i] in cluster_13:
        df['cluster'][i] = 13
    if df['index'][i] in cluster_14:
        df['cluster'][i] = 14
    if df['index'][i] in cluster_15:
        df['cluster'][i] = 15
    if df['index'][i] in cluster_16:
        df['cluster'][i] = 16
    if df['index'][i] in cluster_17:
        df['cluster'][i] = 17
    if df['index'][i] in cluster_18:
        df['cluster'][i] = 18
    if df['index'][i] in cluster_19:
        df['cluster'][i] = 19
    if df['index'][i] in cluster_20:
        df['cluster'][i] = 20

<ipython-input-10-793a8c83e428>:21: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['cluster'][i] = 10
<ipython-input-10-793a8c83e428>:35: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['cluster'][i] = 17
<ipython-input-10-793a8c83e428>:41: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['cluster'][i] = 20
<ipython-input-10-793a8c83e428>:19: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['cluster'][i] = 9
<ipython-input-10-793a8c83e428>:29: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['cluster'][i] = 14
<ipython-input-10-793a8c83e428>:33: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['cluster'][i] = 16
<ipython-input-10-793a8c83e428>:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['cluster'][i] = 6
<ipython-input-10-793a8c83e428>:23: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['cluster'][i] = 11
<ipython-input-10-793a8c83e428>:25: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['cluster'][i] = 12
<ipython-input-10-793a8c83e428>:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['cluster'][i] = 4
<ipython-input-10-793a8c83e428>:37: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['cluster'][i] = 18
<ipython-input-10-793a8c83e428>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['cluster'][i] = 1
<ipython-input-10-793a8c83e428>:27: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['cluster'][i] = 13
<ipython-input-10-793a8c83e428>:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['cluster'][i] = 3
<ipython-input-10-793a8c83e428>:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['cluster'][i] = 2
<ipython-input-10-793a8c83e428>:31: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['cluster'][i] = 15
<ipython-input-10-793a8c83e428>:39: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['cluster'][i] = 19
<ipython-input-10-793a8c83e428>:17: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['cluster'][i] = 8
<ipython-input-10-793a8c83e428>:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['cluster'][i] = 5
<ipython-input-10-793a8c83e428>:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['cluster'][i] = 7

In [11]:
df

      index customer_code  demand   longitude   latitude  cluster
0         0        SF0001       6  116.709478  40.203142       10
1         1        SF0002     111  116.709856  40.200571       10
2         2        SF0003      37  116.708931  40.200304       10
3         3        SF0004      20  116.711376  40.199473       10
4         4        SF0005       9  116.709838  40.199696       10
...     ...           ...     ...         ...        ...      ...
2016   2016        SF2017      69  116.562954  40.248498       15
2017   2017        SF2018      63  116.683110  40.327746        4
2018   2018        SF2019      51  116.680531  40.326654        4
2019   2019        SF2020      63  116.527290  40.242057       15
2020   2020        SF2021      82  116.528994  40.246655       15

[2021 rows x 6 columns]

In [12]:
df['local_hub'] = 0

In [13]:
local_hub = list(cluster_hub['hub'])
local_hub

['SF0116',
 'SF0280',
 'SF0541',
 'SF0548',
 'SF0580',
 'SF0606',
 'SF1111',
 'SF1119',
 'SF1547',
 'SF1821',
 'SF1858',
 'SF1880',
 'SF1882',
 'SF1890',
 'SF0165',
 'SF0686',
 'SF0693',
 'SF0695',
 'SF0705',
 'SF0819',
 'SF1584',
 'SF1590',
 'SF1686',
 'SF0348',
 'SF0738',
 'SF0945',
 'SF1546',
 'SF1576',
 'SF1724',
 'SF1733',
 'SF1751',
 'SF1775',
 'SF0877',
 'SF0882',
 'SF1176',
 'SF1548',
 'SF1568',
 'SF1904',
 'SF2018',
 'SF0451',
 'SF0590',
 'SF0592',
 'SF0721',
 'SF1232',
 'SF1503',
 'SF0367',
 'SF0369',
 'SF0424',
 'SF0771',
 'SF1052',
 'SF1156',
 'SF1414',
 'SF1563',
 'SF0297',
 'SF0615',
 'SF1189',
 'SF1287',
 'SF1296',
 'SF0186',
 'SF0802',
 'SF1064',
 'SF1069',
 'SF1077',
 'SF1273',
 'SF1972',
 'SF0221',
 'SF0980',
 'SF1091',
 'SF1104',
 'SF1145',
 'SF1283',
 'SF2009',
 'SF0012',
 'SF0466',
 'SF0468',
 'SF0478',
 'SF1304',
 'SF1322',
 'SF1565',
 'SF0891',
 'SF1358',
 'SF1535',
 'SF1653',
 'SF1663',
 'SF1665',
 'SF0483',
 'SF1389',
 'SF1395',
 'SF1402',
 'SF1428',
 'SF1459',
 'SF1473',
 'SF1478',
 'SF1515',
 'SF1528',
 'SF1562',
 'SF0449',
 'SF1329',
 'SF2000',
 'SF0180',
 'SF0723',
 'SF0747',
 'SF0956',
 'SF1038',
 'SF1276',
 'SF1949',
 'SF1956',
 'SF0271',
 'SF0272',
 'SF0276',
 'SF0604',
 'SF0872',
 'SF1817',
 'SF1917',
 'SF2017',
 'SF0111',
 'SF0503',
 'SF0663',
 'SF0865',
 'SF1181',
 'SF1215',
 'SF1219',
 'SF1545',
 'SF1782',
 'SF1797',
 'SF1923',
 'SF0029',
 'SF0056',
 'SF0068',
 'SF0070',
 'SF0076',
 'SF0976',
 'SF0987',
 'SF1002',
 'SF1910',
 'SF0329',
 'SF0338',
 'SF1251',
 'SF1455',
 'SF1760',
 'SF0617',
 'SF0848',
 'SF1045',
 'SF1607',
 'SF1614',
 'SF1708',
 'SF1721',
 'SF0090',
 'SF0309',
 'SF0383',
 'SF1346',
 'SF1978']

In [14]:
for i in range(len(df)):
    if df['customer_code'][i] in local_hub:
        df['local_hub'][i] = 1

<ipython-input-14-6a4e9e06a109>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['local_hub'][i] = 1

In [15]:
df

      index customer_code  demand   longitude   latitude  cluster  local_hub
0         0        SF0001       6  116.709478  40.203142       10          0
1         1        SF0002     111  116.709856  40.200571       10          0
2         2        SF0003      37  116.708931  40.200304       10          0
3         3        SF0004      20  116.711376  40.199473       10          0
4         4        SF0005       9  116.709838  40.199696       10          0
...     ...           ...     ...         ...        ...      ...        ...
2016   2016        SF2017      69  116.562954  40.248498       15          1
2017   2017        SF2018      63  116.683110  40.327746        4          1
2018   2018        SF2019      51  116.680531  40.326654        4          0
2019   2019        SF2020      63  116.527290  40.242057       15          0
2020   2020        SF2021      82  116.528994  40.246655       15          0

[2021 rows x 7 columns]

In [16]:
df.to_csv('data/combined.csv')